<html>
    <head>
        <title>Tanjas tolle Tipps</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Tanjas Tolle Tipps</a><h1>
        </div>

        <div>
            <p>published: 21.09.2016, 16:15</p>
            <h2><a href="">Tanja und die Weltherrschaft</a></h2>
            <p>Das was wir jeden Abend machen - Wir versuchen die Weltherrschaft an uns zu reißen!</p>
        </div>
    
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Tanja und die Django Girls</a></h2>
            <p>Oder wie ich es geschafft habe, Ilja von seiner Arbeit fernzuhalten.</p>
        </div>
    </body>
 </html>